.cover_container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover_container > h1 {
  color: #FFF;
  font-size: 3rem;
  background-color: #FF5000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.cover_container > h4 {
  color: #FFF;
  font-size: 1rem;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.btn_start:focus {
  outline: none;
}