.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 3rem;
}

.subtext > p {
  font-size: 1rem;
  font-weight: 500;
}

.container > img {
  width: 600px;
  height: 500px;
  border-radius: 30px;
}

@media (max-width: 560px) {
  .container > img {
    width: 400px;
    height: 300px;
  }
}
